/* COLORS */
$blue: #178AF0;
$light-blue: #E8F3FE;
$dark-grey: #3E4E50;

/* BREAKPOINTS */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
